*{
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    image-resolution: 100%;
}
body {
    /*background-color: rgb(213, 208, 193);*/
    background-image: url(Images/backgroundkrb.jpg);
    background-repeat: no-repeat;
    background-size: cover
}
h1 {
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 40px 30px;
}
h2{
    color: rgb(146, 144, 82);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-style: dotted;
    border-width: 5px;
    border-color: aquamarine;
}
p{
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    padding: 20px;
    width: 900px;
    margin: 30px auto;
}
d1 {
    line-height: 30px;
}
dt {
    font-family: 'Lucida Sans', 'Lucida Sans Regular'; background-color: rgb (146, 144, 82);
    margin-top: 30px;
    padding: 5px;
}
dd {
    background-color: beige;
    font-family: monospace;
    font-size: 18px;
    text-indent: 40px;
    text-align: justify;
    width: 100%;
    height: 100%;
    line-height: 30px;
    padding: 10px;
    box-sizing: border-box;
}
a {
    color: rgb(52, 57, 27);
    text-decoration: underline;
    text-transform: capitalize;
    line-height: 3opx;
    padding: 20px;
}
.koleksi {
    width: 900px;
    margin: 30px auto;
}
d1 img {
    background-color: beige;
    width: 200px;
    /*border-top-left-radius: 50px;*/
    border-radius: 100px;
    float: left;
    /*margin-top: 10px;
    margin-right: 20px;*/
    margin: 10px 20px 10px 0px;
    padding: 10px;
}
.clear {
    clear: left;
}
.footer {
    margin-left: 100px;
    text-align: center;
}
